body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
nav {
  list-style-type: none;
  position: fixed;
  background-color: #243d47;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 12px;
}

li {
  display: inline;
  padding: 13px;
}
li:hover {
  background-color: black;
}
a {
  text-decoration: none;
  color: white;
}

img:hover {
  border: dashed white 5px;
}
